In [20]:
import pandas as pd
from matplotlib import pyplot as plt
from gapminder import gapminder as gm
gm.loc[gm["country"]=="Switzerland"]

          country continent  year  lifeExp      pop    gdpPercap
1476  Switzerland    Europe  1952   69.620  4815000  14734.23275
1477  Switzerland    Europe  1957   70.560  5126000  17909.48973
1478  Switzerland    Europe  1962   71.320  5666000  20431.09270
1479  Switzerland    Europe  1967   72.770  6063000  22966.14432
1480  Switzerland    Europe  1972   73.780  6401400  27195.11304
1481  Switzerland    Europe  1977   75.390  6316424  26982.29052
1482  Switzerland    Europe  1982   76.210  6468126  28397.71512
1483  Switzerland    Europe  1987   77.410  6649942  30281.70459
1484  Switzerland    Europe  1992   78.030  6995447  31871.53030
1485  Switzerland    Europe  1997   79.370  7193761  32135.32301
1486  Switzerland    Europe  2002   80.620  7361757  34480.95771
1487  Switzerland    Europe  2007   81.701  7554661  37506.41907

In [2]:
gm.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [3]:
gm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [35]:
Sw = gm[gm["country"]=="Switzerland"]
Sw = Sw[Sw["year"]>1993]
Sw.head()

          country continent  year  lifeExp      pop    gdpPercap
1485  Switzerland    Europe  1997   79.370  7193761  32135.32301
1486  Switzerland    Europe  2002   80.620  7361757  34480.95771
1487  Switzerland    Europe  2007   81.701  7554661  37506.41907